html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  table-layout: fixed;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\00ab" "\00bb";
}
q q {
  quotes: "\201e" "\201c";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: none;
  vertical-align: top;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.before,
.after,
.header:before,
.gallery-bottom__item-overimg:before {
  content: '';
  position: absolute;
  display: block;
}
.centerPos {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1270px;
  }
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
html {
  font-size: 16px;
}
html,
body,
.wrapper {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Calibri', 'Arial', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
body.blocked,
body.open-menu {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}
.header {
  position: relative;
  padding: 73px 0 25px;
  background-color: #005ebc;
  overflow: hidden;
  z-index: 1;
}
.header:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 224px;
  background: url("../../../../static/img/pattern.png") no-repeat center;
  z-index: -1;
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo {
  display: flex;
  align-items: center;
  height: 125px;
  margin-right: 33px;
  transition: opacity 0.4s;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__burger {
  display: none;
}
.main {
  min-height: calc(100vh - 223px - 118px);
}
.footer {
  padding: 40px 0;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__coopy,
.footer__href {
  color: #4e4e4d;
  text-transform: uppercase;
}
.footer__href {
  text-align: right;
  align-self: flex-end;
  transition: color 0.4s;
}
.footer__href:hover {
  color: #000;
}
.title {
  text-align: center;
  color: #4e4e4d;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.swiper-button-prev,
.swiper-button-next {
  outline: none;
}
.main-slider {
<<<<<<< HEAD
  margin-bottom: 78px;
=======
  margin-bottom: 70px;
>>>>>>> 424e9c5167de683ab4a6a28b28650af2103b814f
}
.lg-backdrop {
  background-color: rgba(0,94,188,0.71);
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -22px;
}
.nav__list-item {
  margin: 0 22px;
}
.nav__list-href {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__list-href:hover .nav__list-href-overico {
  opacity: 0.7;
}
.nav__list-href-overico {
  display: block;
  width: 82px;
  height: 80px;
  margin-bottom: 5px;
  transition: opacity 0.4s;
}
.nav__list-href-ico {
  max-height: 100%;
}
.nav__list-href-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.tile {
  margin-bottom: 60px;
  height: calc(100vh - 224px);
  min-height: 600px;
}
.tile__row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.tile__col {
  width: calc(100% / 3 - 6px);
}
.tile__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin-bottom: 9px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: 1;
}
.tile__item:last-child {
  margin-bottom: 0;
}
.tile__item--middle {
  height: calc(50% + 75.5px);
}
.tile__item--min {
  height: calc(50% - 84.5px);
}
.tile__item-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  z-index: -1;
}
.tile__item-content {
  text-align: center;
}
.tile__item-text {
  color: #fff;
  font-size: 34px;
  line-height: 38px;
  font-weight: bold;
  padding: 23px 20px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.tile__item-more {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 198px;
  height: 68px;
  border: 4px solid rgba(255,255,255,0.7);
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding: 23px 20px;
}
.about {
  margin-bottom: 60px;
}
.about:last-child {
  margin-bottom: 0;
}
.about__title {
  color: #e04585;
}
.about__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__item--mirror {
  flex-direction: row-reverse;
}
.about__item:nth-child(2) .about__item-overimg {
  margin-left: 40px;
}
.about__item:nth-child(2) .about__item-content {
  max-width: 805px;
}
.about__item:nth-child(3) .about__item-overimg {
  margin-right: 40px;
}
.about__item:nth-child(3) .about__item-content {
  max-width: 715px;
}
.about__item-overimg {
  flex-shrink: 0;
}
.about__item-content {
  font-size: 27px;
  line-height: 32px;
  color: #4e4e4d;
}
.pluses {
  margin-bottom: 50px;
}
.pluses:last-child {
  margin-bottom: 0;
}
.pluses__title {
  color: #005eb8;
  margin-bottom: 72px;
}
.pluses__items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 50px);
  margin: 0 -25px;
}
.pluses__item {
  width: calc(100% / 3 - 50px);
  margin: 0 25px;
}
.pluses__item-overimg {
  display: flex;
  justify-content: center;
  height: 275px;
  margin-bottom: 60px;
}
.pluses__item-img {
  max-height: 100%;
  align-items: center;
}
.pluses__item-title {
  text-align: center;
  margin-bottom: 10px;
  color: #1a8200;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.pluses__item-text {
  color: #4e4e4d;
  font-size: 27px;
  font-weight: 400;
}
.video {
  margin-bottom: 41px;
}
.video:last-child {
  margin-bottom: 0;
}
.video__over {
  width: 100%;
  position: relative;
  z-index: 1;
}
.reviews {
  padding: 40px 0;
  margin-bottom: 29px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.reviews:last-child {
  margin-bottom: 0;
}
.reviews__title {
  color: #fff;
  margin-bottom: 52px;
}
.reviews__wrap {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 70px;
}
.reviews__item {
  padding: 65px 50px 140px;
  background: url("../../../../static/img/review-decor.png") no-repeat center top;
  background-size: 100% 100%;
}
.reviews__item-author {
  margin-bottom: 10px;
}
.reviews__item-author,
.reviews__item-text {
  color: #4e4e4d;
  font-size: 23px;
  line-height: 27px;
  font-style: italic;
}
.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  margin-top: -38px;
}
.hero-inner {
  margin-bottom: 52px;
}
.hero-inner .container {
  max-width: 1085px;
  margin: 0 auto;
}
.hero-inner__title {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.hero-inner__text {
  font-size: 30px;
  color: #4e4e4e;
}
.gallery-bottom .container {
  position: relative;
}
.gallery-bottom__item-overimg {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
.gallery-bottom__item-overimg:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAulBMVEUAAADz8/PFxcXOzs7b29v5+fnJycn5+fnp6en////39/fi4uLW1tb19fXb29vS0tL9/f3y8vLS0tLMzMzJycnf39/j4+PExMTOzs7FxcXl5eX9/f3n5+f7+/vMzMzT09PX19fu7u7X19fX19fu7u7X19f////19fXr6+v9/f3r6+vT09Pu7u7Q0NDMzMz8/PzQ0NDMzMzp6enFxcX4+PjT09PJycn19fXy8vLu7u7j4+Pf39/b29vX19cpLcjBAAAAL3RSTlMAQEBQEL+/r4BwYEAQ7+/v39/Pz5+PgIBgYFBAQBDv38+/v6+fn4BwcGBgYDAwMPiP5f8AAADDSURBVBjTbcrnDoIwFIbhwxAF9wCU4d4LrCD7/m/LLmpIfH/0fHlSYLn6UXeh0WUUkEb6j/x2UNfya2xHUdQyJINebkaS9CW6pH6SnBiO0xQb0zQd03HPsg3U7bOMfjgjdBXoINQht4OQJ9DjaOV5V2A3zy16i8IUaBaFQ65algOVmzooS7YPVbXu0dXbVtUO2BzG8UrBQ5nEuBvTxzDETULenOlz+mJNl+TlCspM07SZAvKHJEOzxRtnwx8VP0WyLcMXJgsaB7W93V0AAAAASUVORK5CYII=") no-repeat center rgba(0,0,0,0.65);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1;
}
.gallery-bottom__item-overimg:hover:before {
  opacity: 1;
}
.gallery-bottom__item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-bottom .swiper-slide {
  max-width: 303px;
}
<<<<<<< HEAD
.gallery-bottom .swiper-button-prev,
.gallery-bottom .swiper-button-next {
  display: none;
}
.gallery-bottom .swiper-button-prev {
  left: -60px;
}
.gallery-bottom .swiper-button-next {
  right: -60px;
}
.gallery-bottom .swiper-show-nav .swiper-button-prev,
.gallery-bottom .swiper-show-nav .swiper-button-next {
  display: block;
=======
.hits .container {
  max-width: 1600px;
}
.hits__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.hits__img {
  transition: 0.8s transform, 0.8s opacity;
  will-change: transform;
  align-self: flex-end;
}
.hits__item-title {
  font-size: 25px;
  line-height: 32px;
  color: #585252;
  text-align: center;
  transition: 0.8s visibility, 0.8s opacity;
  visibility: hidden;
  opacity: 0;
}
.hits__img-cover {
  display: flex;
  margin-bottom: 45px;
}
.hits__slider .swiper-button-next {
  right: 27%;
  left: auto;
  top: 26%;
}
.hits__slider .swiper-button-prev {
  left: 28%;
  top: 26%;
}
.hits__slider .swiper-slide {
  padding-top: 43px;
  padding-bottom: 80px;
  pointer-events: none;
}
.hits__slider .swiper-slide-active {
  pointer-events: auto;
}
.hits__slider .swiper-slide-active .hits__img {
  transform: scale(1.2) translateY(0);
  opacity: 1;
}
.hits__slider .swiper-slide-active .hits__item-title {
  visibility: visible;
  opacity: 1;
}
.hits__slider .swiper-slide-prev .hits__img {
  transform: scale(0.7) translateY(-29%) translateX(-20%);
  opacity: 0.5;
}
.hits__slider .swiper-slide-next .hits__img {
  transform: scale(0.7) translateY(-29%) translateX(20%);
  opacity: 0.5;
>>>>>>> 424e9c5167de683ab4a6a28b28650af2103b814f
}
