@import 'partials/header.styl'
@import 'partials/main.styl'
@import 'partials/footer.styl'

@import 'blocks/common.styl'
@import 'blocks/nav.styl'
@import 'blocks/about.styl'
@import 'blocks/pluses.styl'
@import 'blocks/video.styl'
@import 'blocks/reviews.styl'

@import 'blocks/hero-inner.styl'

@import 'blocks/gallery-bottom.styl'

@import 'blocks/hits.styl'
