$mPortrait = '(min-width:320px)'
$mPortraitMax = '(max-width:479px)'
$mIphone6Max = '(max-width:667px)'
$mLandscapeMax = '(max-width:767px)'
$mLandscape = '(min-width:769px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$desktopMax = '(max-width:1299px)'
$desktop = '(min-width:1300px)'

$baseFontFamily = 'Calibri', 'Arial', sans-serif
$baseFontSize = 16px
$baseLineHeight = 24px
$baseFontWeight = 400

$default = #4e4e4d
