mixin reviews(background)
  - var background = background ? background : 'static/img/reviews-back.jpg'
  +b('section')(style="background-image: url('"+background+"');").reviews
    .container
      +e('h2').title.title Нам доверяют
      +e.wrap
        .swiper-container.js-reviews-swiper
          .swiper-wrapper
            .swiper-slide
              +e.item
                +e('p').item-author Калинкина М.
                +e('p').item-text 1231212 

        button(type="button").swiper-button-prev
        button(type="button").swiper-button-next
        .swiper-pagination
