include includes/bemto/bemto.pug
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Разводящая"
  include includes/partials/head
  style(type='text/css').
    .page-list {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      margin: 30px 0 0 !important;
    }
    .page-list-item {
      margin: 0 0 10px !important;
    }
    .page-list-item:before {
      display: none;
      content: none;
    }
    .page-list-item a {
      color: #1c1c1c;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      border-bottom: 1px solid #1c1c1c;
      transition: color 0.5s, border 0.5s;
      -webkit-transition: color 0.5s, border 0.5s;
    }
    .page-list-item a:hover {
      border-bottom-color: transparent;
    }
    h3 {
      margin-bottom: 20px; 
    }
    
  body
    .wrapper(style="overflow-x: hidden; padding-top: 80px;")
      main.main(style="background: none;")
        .container
          .text
            ul.page-list(style="display:inline-block;vertical-align:top;width:45%;margin-right:35px;")
              li.page-list-item
                h3 Страницы
                a(target="_blank" href="01-main.html").link 01. Главная
                
      .hidden-block
        include includes/__popups

      script(src="static/js/vendor.js")
      script(src="static/js/own.js")
      