.footer
  padding 40px 0
  .container
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
  &__coopy, &__href
    color #4e4e4d
    line-height 18px
    text-transform uppercase
    letter-spacing -0.03em
  &__href
    text-align right
    align-self flex-end
    transition color .4s
    &:hover
      color #000
