.about
  margin-bottom 51px
  &:last-child
    margin-bottom 0
  &__title
    color #e04585
    @media $tPortraitMax
      margin-bottom 50px
    @media $tPortraitMax
      font-size 26px
      line-height 30px
  &__item
    display flex
    align-items center
    justify-content space-between
    min-height 300px
    @media $tPortraitMax
      min-height auto
      align-items flex-start
      margin-bottom 40px
      &:last-child
        margin-bottom 0
    @media $mLandscapeMax
      flex-wrap wrap
    &--mirror
      flex-direction row-reverse
      @media $tPortraitMax
        flex-direction row
    &:first-child
      margin-top -76px
      @media $tPortraitMax
        margin-top 0
      .about__item-overimg
        margin-left -11px
        transform translateY(25px)
        @media $tPortraitMax
          margin: 0 auto
          transform translateY(0)
      @media $desktopMax
        margin-left 0
    &:nth-child(2)
      margin-top -94px
      @media $desktopMax
        margin-top -30px
      @media $tPortraitMax
        margin-top 0
      .about__item
        &-overimg
          margin-left 40px
          margin-right 21px
          transform translateY(-32px)
          @media $desktopMax
            margin-right 0
          @media $tPortraitMax
            margin-right 40px
            transform translateY(0)
            margin: 0 auto
        &-content
          max-width 815px
    &:nth-child(3)
      margin-top -37px
      @media $desktopMax
        margin-top 0
      .about__item
        &-overimg
          margin-right 40px
          margin-left 29px
          transform translateY(-31px)
          @media $tPortraitMax
            margin-right 40px
            margin-left 0
            transform translateY(0)
            margin: 0 auto
        &-content
          max-width 715px
    &-overimg
      flex-shrink 0
      @media $tPortraitMax
        max-width 200px
        margin-right 40px
        margin-left 0
        img
          max-width 100%
      @media $mLandscapeMax
        width 140px
        margin-right 35px
    &-content
      font-size 27px
      line-height 32px
      color #4e4e4d
      @media $tPortraitMax
        text-align center
        font-size 18px
        line-height 20px
      @media $desktopMax
        width calc(100% - 240px)
      @media $mLandscapeMax
        width 100%
        margin-top 15px
