.title
  text-align center
  color $default
  font-size 30px
  line-height 36px
  font-weight 700
  text-transform uppercase

.swiper
  &-button
    &-prev, &-next
      outline none


.lg-backdrop
  background-color rgba(0,94,188,0.71)
