.title
  text-align center
  color $default
  font-size 30px
  line-height 36px
  font-weight 700
  letter-spacing 0.03em
  text-transform uppercase

.swiper
  &-button
    &-prev, &-next
      outline none

.main-slider
  margin-bottom 70px
  .swiper-wrapper
    -webkit-transition: all 600ms cubic-bezier(0.34, 0.59, 0.42, 1.12);
    transition: all 600ms cubic-bezier(0.34, 0.59, 0.42, 1.12);

  &__slide
    text-align: center

.lg-backdrop
  background-color rgba(0,94,188,0.71)
