.feedback
  text-align center
  padding-top 104px
  padding-bottom 30px
  &__title
    font-size 33px
    margin-bottom 33px
    color #005eb8
    letter-spacing normal
  &__text
    color #575353
    font-size 25px
    line-height 33px
  .form
    margin-top 104px
  &__content
    max-width 651px
    margin 0 auto
