.feedback
  text-align center
  padding-top 104px
  padding-bottom 30px
  @media $mLandscapeMax
    padding-top 50px
  &__title
    font-size 33px
    margin-bottom 33px
    color #005eb8
    letter-spacing normal
    @media $tPortraitMax
      font-size 26px
      line-height 30px
  &__text
    color #575353
    font-size 25px
    line-height 33px
    @media $tPortraitMax
      text-align center
      font-size 18px
      line-height 20px
  .form
    margin-top 104px
    @media $mLandscapeMax
      margin-top 60px
  &__content
    max-width 651px
    margin 0 auto
