.hero-inner
  margin-bottom 20px
  .container
    max-width 1085px
    margin 0 auto

  &__title
    font-size 30px
    line-height 32px
    font-weight bold
    text-align: center

  &__text
    font-size 30px
    color: #4e4e4e
