.pluses
  margin-bottom 52px
  &:last-child
    margin-bottom 0
  &__title
    color #005eb8
    margin-bottom 69px
  &__items
    display flex
    flex-wrap wrap
    width calc(100% + 50px)
    margin 0 -25px
    @media $tPortraitMax
      width 100%
      margin 0
  &__item
    width calc(100%/3 - 50px)
    margin 0 25px
    @media $tPortraitMax
      display flex
      flex-wrap wrap
      width 100%
      margin 0 0 45px
      &:last-child
        margin-bottom 0
    &-overimg
      display flex
      justify-content center
      height 275px
      margin-bottom 51px
      @media $tPortraitMax
        width 140px
        flex-shrink 0
        height auto
        margin-bottom 0
        margin-right 35px
        align-items flex-start
    &-img
      max-height 100%
      align-items center
    &-bottom
      @media $tPortraitMax
        width calc(100% - 180px)
      @media $mLandscapeMax
        width 100%
        margin-top 15px
    &-title
      text-align center
      color #1a8200
      font-size 30px
      line-height 36px
      text-transform uppercase
      @media $tPortraitMax
        text-align left
    &-text
      color $default
      font-size 27px
      line-height 32px
