.reviews
  padding 40px 0
  background-repeat no-repeat
  background-position center bottom
  background-size cover
  &__content
    position relative
    max-width 700px
    margin 0 auto
    padding 0 70px
  &__item
    padding 65px 50px 140px
    background url('../../../../static/img/review-decor.png') no-repeat center top
    background-size 100% 100%
    &-author
      margin-bottom 10px
    &-author, &-text
      color #4e4e4d
      font-size 23px
      line-height 27px
      font-style italic

