.reviews
  padding 36px 0 40px
  margin-bottom 30px
  background-repeat no-repeat
  background-position center bottom
  background-size cover
  @media $mLandscapeMax
    text-align center
  &:last-child
    margin-bottom 0
  &__title
    color #fff
    margin-bottom 49px
    @media $tPortraitMax
      font-size 26px
      line-height 30px
  &__wrap
    position relative
    max-width 700px
    margin 0 auto
    padding 0 70px
    @media $mLandscapeMax
      padding 0
  &__item
    padding 58px 50px 140px
    @media $mLandscapeMax
      text-align left
      padding-bottom 150px
    @media $mPortraitMax
      padding-top 45px
      padding-left 25px
      padding-right 25px
    &-author
      margin-bottom 8px
    &-author, &-text
      color #4e4e4d
      font-size 23px
      line-height 28px
      font-style italic
      @media $tPortraitMax
        text-align center
        font-size 18px
        line-height 20px
  .swiper
    &-container
      background url('../../../../static/img/bottom.png') no-repeat center bottom
      background-size 100% 247px
      max-width 560px
      &:before
        @extend .before
        left 0
        top 0
        width 100%
        height 118px
        background url('../../../../static/img/top.png') no-repeat center top
        background-size 100% 118px
      &:after
        @extend .after
        left 0
        top 115px
        width 100%
        height calc(100% - 360px)
        background url('../../../../static/img/middle.png') repeat-y center top
        background-size 100%
    &-button
      &-prev, &-next
        margin-top -44px
        @media $mLandscapeMax
          display none
    &-pagination
      display none
      bottom 108px
      width 100%
      text-align center
      &-bullet
        margin 0 4px
        border-color #005EBC
        &-active
          background-color #005EBC
      @media $mLandscapeMax
        display block
