.tile
  margin-bottom 66px
  height 88vh
  min-height 600px
  @media $desktopToTouch
    height 79vh
  @media $tPortraitMax
    height 600px
  @media $mLandscapeMax
    height auto
  &__row
    display flex
    justify-content space-between
    height 100%
    @media $mLandscapeMax
      flex-wrap wrap
  &__col
    &:first-child
      width calc(100%/3 + 59px)
      @media $tPortraitMax
        width calc(100%/3 - 6px)
      @media $mLandscapeMax
        width 100%
      .tile__item
        &--middle
          height calc(50% + 18.5px)
          @media $mLandscapeMax
            min-height 150px
            height auto
        &--min
          height calc(50% - 27.5px)
          @media $mLandscapeMax
            min-height 150px
            height auto
    &:nth-child(2)
      width calc(100%/3 - 41px)
      margin 0 9px
      @media $tPortraitMax
        width calc(100%/3 - 6px)
      @media $mLandscapeMax
        width 100%
        margin 0
      .tile__item
        &--middle
          height calc(50% + 49.5px)
          @media $mLandscapeMax
            min-height 150px
            height auto
        &--min
          height calc(50% - 58.5px)
          @media $mLandscapeMax
            min-height 150px
            height auto
    &:nth-child(3)
      width calc(100%/3 - 25px)
      @media $tPortraitMax
        width calc(100%/3 - 6px)
      @media $mLandscapeMax
        width 100%
  &__item
    display flex
    justify-content center
    align-items center
    position relative
    height 100%
    margin-bottom 9px
    background-size cover
    background-repeat no-repeat
    background-position 50% 50%
    overflow hidden
    z-index 1
    @media $mLandscapeMax
      padding 35px
      margin-bottom 0
      min-height 170px
    @media $mPortraitMax
      padding 20px
      min-height 150px
    &:hover
      .tile__item
        &-back
          opacity .85
        &-text, &-more
          opacity 1
          transform translateY(0)
    &:last-child
      margin-bottom 0
    &--middle
      height calc(50% + 75.5px)
    &--min
      height calc(50% - 84.5px)
    &-back
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      opacity 0
      transition opacity .4s ease-in-out
      z-index -1
      @media $desktopToTouch
        opacity .85
    &-content
      text-align center
    &-text
      color #fff
      font-size 40px
      line-height 48px
      font-weight bold
      text-align center
      margin-bottom 10px
      text-transform uppercase
      transform translateY(-40px)
      transition transform .4s ease-in-out, opacity .4s ease-in-out
      @media $desktopToTouch
        font-size 32px
        line-height 36px
      @media $mLandscapeMax
        br
          display none
      @media $mPortraitMax
        font-size 24px
        line-height 30px
    &-more
      display inline-block
      vertical-align top
      border-radius 10px
      width 166px
      height 58px
      border 4px solid rgba(#fff, .7)
      color #fff
      font-size 24px
      line-height 24px
      padding 12px 20px
      transform translateY(40px)
      transition background .4s, transform .4s ease-in-out, opacity .4s ease-in-out
      @media $desktopToTouch
        height 48px
        font-size 22px
        line-height 42px
        padding 0 20px
      &:hover
        background-color rgba(#fff, .15)
    &-text, &-more
      opacity 0
      @media $desktopToTouch
        transform translateY(0)
        opacity 1
