+b('header').header
  .container
    +e('a')(href="/").logo
      +e('img')(src="static/img/logo.png").logo-img
    
    +b('nav').nav
      +e('ul').list
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              +e('img')(src="static/img/nav-ico.png").list-href-ico
            +e('span').list-href-text настольные <br>игры
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              +e('img')(src="static/img/nav-ico2.png").list-href-ico
            +e('span').list-href-text развитие <br>и обучение
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              +e('img')(src="static/img/nav-ico3.png").list-href-ico
            +e('span').list-href-text для <br>девочек
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              +e('img')(src="static/img/nav-ico4.png").list-href-ico
            +e('span').list-href-text для <br>мальчиков
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              +e('img')(src="static/img/nav-ico5.png").list-href-ico
            +e('span').list-href-text для <br>малышей
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              +e('img')(src="static/img/nav-ico6.png").list-href-ico
            +e('span').list-href-text Свяжитесь <br>с нами

    +e('button')(type="button").burger.js-burger
      span
      